# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.

[Essential]
Zip=../../media/packs/SdkTrays.zip


[Popular]
FileSystem=../../media/fonts
FileSystem=../../media/materials/programs
FileSystem=../../media/materials/scripts
FileSystem=../../media/materials/textures
FileSystem=../../media/models
FileSystem=../../media/scenes
FileSystem=../../media/particles



[General]
FileSystem=../../media
